/* Standard color definitions
   ========================================================================== */

$white:                          #fff !default;
$black:                          #000 !default;
$gray:                           #d5d5d5 !default;
$gray-light:                     #eee;
$gray-dark:                      #2f2f2f;
$gray-darker:                    #4b4b4b;
$red:                            #a32e10;
$green:                          #c7d650;
$yellow:                         #f0cb28;
$blue:                           #4565ae;
$orange:                         #ec6608;

$base-font-family:               Helvetica, "Helvetica Neue", Arial, sans-serif;

$zen-columns: 12 !global;
$zen-gutters: 20px !global;

body {
  background: $gray-light;
  font-family: $base-font-family;
  overflow-x: hidden;
}

#page {
  overflow: hidden;
}

.layout-wrapper {
  background: none;
}

.pane-menu-title {
  h2 {
    border-bottom: 2px solid #6d85be;
    color: $blue;
    font-family: $base-font-family;
    font-size: 200%;
    font-weight: bold;
    padding-bottom: 20px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $base-font-family;
  font-weight: bold;
  
  a {
    font-weight: bold;
  }
}

.default-layout .layout-wrapper {
  background: none;
  padding-left: 0;
  padding-right: 0;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #4565ae;
  font-weight: bold;
}

::-moz-placeholder { /* Firefox 19+ */
  color: #4565ae;
  font-weight: bold;
}

:-ms-input-placeholder { /* IE 10+ */
  color: #4565ae;
  font-weight: bold;
}

:-moz-placeholder { /* Firefox 18- */
  color: #4565ae;
  font-weight: bold;
}

.sub-menu-title {
  color: #4b4b4b;
  font-family: $base-font-family;
  font-weight: bold;
  border-bottom: 2px solid #8e8e8e;
  font-size: 130%;
  line-height: 45px;
  margin-bottom: 0;
  padding-bottom: 13px;
}

.sub-menu {
  padding-top: 20px;

  > li {
    a {
      color: #00a1e3;
      font-weight: bold;
      padding-left: 22px;
      padding-top: 5px;
      padding-bottom: 5px;

      &.active {
        color: $gray-dark;
        font-family: $base-font-family;
        font-weight: bold;
      }
    }
  }

  li {
    &:before {
      display: none;
    }
  }
}

.page-title {
  border-bottom: 2px solid #6d85be;
  color: $blue;
  font-family: $base-font-family;
  font-size: 200%;
  font-weight: bold;
  padding-bottom: 20px;
}

.label a,
.view-node-search-result .list-item .field-type-taxonomy-term-reference a a,
.ting-reference-reverse-list .list-item .field-type-taxonomy-term-reference a a,
.subjects .subject a,
.news-list .news-label a,
.super-heading .field-name-field-ding-news-library .field-item a {
  background: #ab398e;
  border-radius: 0;
  font-size: 85%;

  &:hover {
    background: #a03585;
  }
}

.label,
.view-node-search-result .list-item .field-type-taxonomy-term-reference a,
.ting-reference-reverse-list .list-item .field-type-taxonomy-term-reference a,
.subjects .subject,
.news-list .news-label,
.super-heading .field-name-field-ding-news-library .field-item {
  text-shadow: none;
}

label {
  font-family: $base-font-family;
}



.material-item .action-button.reserve-button.reservable, .field-name-ding-entity-buttons .reserve-button.reservable, .ding-periodical-issues .reserve-button.reservable {
  position: relative;
  top: -1px;
  margin-left: 30px;
}

.field-name-ding-entity-buttons .reserve-button, .button-see-online, .ticket-available, .pane-reservations .renew-loan-button .renewable, .pane-loans .renew-loan-button .renewable, .pane-debts .renew-loan-button .renewable, .pane-bookmarks .renew-loan-button .renewable, .pane-social-services-lists .renew-loan-button .renewable, .pane-reservations .reserve-button, .pane-loans .reserve-button, .pane-debts .reserve-button, .pane-bookmarks .reserve-button, .pane-social-services-lists .reserve-button, .pane-reservations .update-reservations .form-submit, .pane-reservations .renew-loan-button .form-submit, .pane-loans .update-reservations .form-submit, .pane-loans .renew-loan-button .form-submit, .pane-debts .update-reservations .form-submit, .pane-debts .renew-loan-button .form-submit, .pane-bookmarks .update-reservations .form-submit, .pane-bookmarks .renew-loan-button .form-submit, .pane-social-services-lists .update-reservations .form-submit, .pane-social-services-lists .renew-loan-button .form-submit, .pane-debts .pay-button .form-submit, .alma-item-list .reserve-button, .ding-item-list-item .reserve-button, #ding-calendar-wrapper > div + div .form-item-calendar-search + input[type="submit"], #ding-calendar-wrapper > div + form .form-item-calendar-search + input[type="submit"] {
  @extend %button-action;
}

.search-field-in-content .form-text {
  border: none;
}

.select2-container--default .select2-selection--single {
  border-radius: 0;
  border: none;
  color: $blue;
  font-weight: bold;
  height: 50px;
  line-height: 50px;
  
  .select2-selection__rendered {
    color: $blue;
    height: 50px;
    line-height: 50px;
  }
  
  .select2-selection__arrow {
    top: 0;
    height: 50px;
    width: 30px;
    background: #00a1e0;
    right: 0;
    
    b {
      border:none;
      
      &:before {
        color: $white;
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: "\f07d";
        position: relative;
        top: -22px;
        left: 1px;
      }
    }
  }
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: #fff;
  
  &:before {
    display: inline-block;
    color: $white;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f07d";
    position: relative;
    top: -22px;
    left: 1px;
  }
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  border: none;
  border-radius: none;
  height: 50px;
  background: $white;
  display: none;
}

.select2-results__option {
  height: 50px;
  line-height: 50px;
  font-weight: bold;
  padding: 0 6px;
  color: $blue;
}

.select2-dropdown {
  border: none;
  padding: 0;
}

.select2-search--dropdown {
  padding: 0;
}

.pager {
  li {
    margin-right: 10px;

    a {
      background: #00a1e0;
      color: $white;
      font-weight: bold;
    }
  }
  
  li.pager-current {
    background: #84d1f0;
    color: $white;
  }
}

.field .field-label {
  font-family: $base-font-family;
  font-weight: bold;
  font-size: 90%;
}

.field-name-field-ding-news-materials .field-item:nth-child(odd),
.field-name-field-ding-event-materials .field-item:nth-child(odd),
.library-list .views-row:nth-child(odd),
.field-name-field-ding-page-materials .field-item:nth-child(odd),
.node-type-newsletter .newsletter-materials .field-item:nth-child(odd),
.news-list .news-list-item:nth-child(odd),
.event-list .event-list-item:nth-child(odd),
.opening-hours-week .days .odd,
.staff-list .staff-list-item:nth-child(odd),
.staff-list-all .staff-list-item:nth-child(odd),
.groups-list .groups-list-item:nth-child(odd),
.field-name-field-ding-news-materials .field-item:nth-child(even),
.field-name-field-ding-event-materials .field-item:nth-child(even),
.library-list .views-row:nth-child(even),
.field-name-field-ding-page-materials .field-item:nth-child(even),
.node-type-newsletter .newsletter-materials .field-item:nth-child(even),
.news-list .news-list-item:nth-child(even),
.event-list .event-list-item:nth-child(even),
.opening-hours-week .days .even,
.staff-list .staff-list-item:nth-child(even),
.staff-list-all .staff-list-item:nth-child(even),
.groups-list .groups-list-item:nth-child(even) {
  background: $white;
}

.pane-ting-object .ting-object-right, .pane-ting-object .view-node-search-result .list-item .search-right, .view-node-search-result .list-item .pane-ting-object .search-right, .pane-ting-object .ting-reference-reverse-list .list-item .search-right, .ting-reference-reverse-list .list-item .pane-ting-object .search-right, .pane-ting-object .pane-search-result .search-results .list .search-result--availability, .pane-search-result .search-results .list .pane-ting-object .search-result--availability, .pane-ting-object .view-node-search-result .search-results .list .search-result--availability, .view-node-search-result .search-results .list .pane-ting-object .search-result--availability, .pane-ting-object .ting-reference-reverse-list .search-results .list .search-result--availability, .ting-reference-reverse-list .search-results .list .pane-ting-object .search-result--availability, .pane-ting-object .pane-new-materials .search-results .list .search-result--availability, .pane-new-materials .search-results .list .pane-ting-object .search-result--availability {
  width: 73%;
}

.button, a.button,
.form-submit, #edit-cancel,
.field-name-ding-entity-buttons .action-button,
.bookmark-button {
  border-radius: 0;
  font-weight: bold;
  padding: 18px 40px;
  margin-right: 0;
}

.search .form-actions,
.search-field-in-content .form-actions,
.user .form-actions,
.search .form-submit {
  right: -10px;
  
  @include small-medium() {
    right: 0;
    width: 90%;
    margin: 10px auto 0;
  }
}

.material-item .action-button.reserve-button.unavailable.reservable:link, .material-item .action-button.reserve-button.unavailable.reservable:visited, .material-item .action-button.reserve-button.unavailable.reservable:focus, .material-item .action-button.reserve-button.unavailable.reservable:hover, .material-item .action-button.reserve-button.unavailable.reservable:active, .field-name-ding-entity-buttons .reserve-button.unavailable.reservable:link, .field-name-ding-entity-buttons .reserve-button.unavailable.reservable:visited, .field-name-ding-entity-buttons .reserve-button.unavailable.reservable:focus, .field-name-ding-entity-buttons .reserve-button.unavailable.reservable:hover, .field-name-ding-entity-buttons .reserve-button.unavailable.reservable:active, .ding-periodical-issues .reserve-button.unavailable.reservable:link, .ding-periodical-issues .reserve-button.unavailable.reservable:visited, .ding-periodical-issues .reserve-button.unavailable.reservable:focus, .ding-periodical-issues .reserve-button.unavailable.reservable:hover, .ding-periodical-issues .reserve-button.unavailable.reservable:active {
  @extend %button-warning;
}

.table-bordered thead:first-child tr:first-child th:first-child,
table thead:first-child tr:first-child th:first-child,
.table-bordered tbody:first-child tr:first-child th:first-child,
table tbody:first-child tr:first-child th:first-child,
.table-bordered tbody:first-child tr:first-child td:first-child,
table tbody:first-child tr:first-child td:first-child {
  border: none;
  border-radius: 0;
}

.table th, table th {
  font-family: $base-font-family;
  font-weight: bold;
  color: $blue;
  font-size: 90%;
}

.ui-dialog {
  background: #c7d650;
}

#tabs {
  margin-bottom: 0;
  padding: 20px 0;
}
