/* Standard color definitions
   ========================================================================== */

$white:                          #fff !default;
$black:                          #000 !default;
$gray:                           #d5d5d5 !default;
$gray-light:                     #eee;
$gray-dark:                      #2f2f2f;
$gray-darker:                    #4b4b4b;
$red:                            #a32e10;
$green:                          #c7d650;
$yellow:                         #f0cb28;
$blue:                           #4565ae;
$orange:                         #ec6608;

$base-font-family:               Helvetica, "Helvetica Neue", Arial, sans-serif;

$zen-columns: 12 !global;
$zen-gutters: 20px !global;

body {
  background: $gray-light;
  font-family: $base-font-family;
}

.pane-menu-title {
  h2 {
    border-bottom: 2px solid #6d85be;
    color: $blue;
    font-family: $base-font-family;
    font-size: 200%;
    font-weight: bold;
    padding-bottom: 20px;
  }
}

.default-layout .layout-wrapper {
  background: none;
  padding-left: 0;
  padding-right: 0;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #4565ae;
  font-weight: bold;
}

::-moz-placeholder { /* Firefox 19+ */
  color: #4565ae;
  font-weight: bold;
}

:-ms-input-placeholder { /* IE 10+ */
  color: #4565ae;
  font-weight: bold;
}

:-moz-placeholder { /* Firefox 18- */
  color: #4565ae;
  font-weight: bold;
}

.sub-menu-title {
  color: #4b4b4b;
  font-family: $base-font-family;
  font-weight: bold;
  border-bottom: 2px solid #8e8e8e;
  font-size: 130%;
  line-height: 45px;
  margin-bottom: 0;
  padding-bottom: 13px;
}

.sub-menu {
  padding-top: 20px;

  > li {
    a {
      color: #00a1e3;
      font-weight: bold;
      padding-left: 22px;
      padding-top: 5px;
      padding-bottom: 5px;

      &.active {
        color: $gray-dark;
        font-family: $base-font-family;
        font-weight: bold;
      }
    }
  }

  li {
    &:before {
      display: none;
    }
  }
}

.page-title {
  border-bottom: 2px solid #6d85be;
  color: $blue;
  font-family: $base-font-family;
  font-size: 200%;
  font-weight: bold;
  padding-bottom: 20px;
}

.label a,
.view-node-search-result .list-item .field-type-taxonomy-term-reference a a,
.ting-reference-reverse-list .list-item .field-type-taxonomy-term-reference a a,
.subjects .subject a,
.news-list .news-label a,
.super-heading .field-name-field-ding-news-library .field-item a {
  background: #ab398e;
  border-radius: 0;
  font-size: 85%;

  &:hover {
    background: #a03585;
  }
}

.label,
.view-node-search-result .list-item .field-type-taxonomy-term-reference a,
.ting-reference-reverse-list .list-item .field-type-taxonomy-term-reference a,
.subjects .subject,
.news-list .news-label,
.super-heading .field-name-field-ding-news-library .field-item {
  text-shadow: none;
}

label {
  font-family: $base-font-family;
}

.button,
a.button,
.form-submit,
#edit-cancel,
#edit-delete,
.search .form-submit,
.search-field-in-content .form-submit,
.user .form-submit, .bookmark-button,
.material-item .action-button.reserve-button.available, .field-name-ding-entity-buttons .reserve-button.available, .ding-periodical-issues .reserve-button.available, .field-name-ding-entity-buttons .reserve-button, .button-see-online, .ticket-available, .pane-reservations .renew-loan-button .renewable, .pane-loans .renew-loan-button .renewable, .pane-debts .renew-loan-button .renewable, .pane-bookmarks .renew-loan-button .renewable, .pane-reservations .reserve-button, .pane-loans .reserve-button, .pane-debts .reserve-button, .pane-bookmarks .reserve-button, .pane-reservations .update-reservations .form-submit, .pane-reservations .renew-loan-button .form-submit, .pane-loans .update-reservations .form-submit, .pane-loans .renew-loan-button .form-submit, .pane-debts .update-reservations .form-submit, .pane-debts .renew-loan-button .form-submit, .pane-bookmarks .update-reservations .form-submit, .pane-bookmarks .renew-loan-button .form-submit, .pane-debts .pay-button .form-submit, .ticket-info, .pane-reservations .renew-loan-button .not-renewable, .pane-loans .renew-loan-button .not-renewable, .pane-debts .renew-loan-button .not-renewable, .pane-bookmarks .renew-loan-button .not-renewable, .pane-reservations .delete-reservation .form-submit, .pane-reservations .delete-reservations .form-submit, .pane-loans .delete-reservation .form-submit, .pane-loans .delete-reservations .form-submit, .pane-debts .delete-reservation .form-submit, .pane-debts .delete-reservations .form-submit, .pane-bookmarks .delete-reservation .form-submit, .pane-bookmarks .delete-reservations .form-submit, #ding-bookmark-remove-form .form-submit, .material-item .action-button.reserve-button.unavailable.reservable, .field-name-ding-entity-buttons .reserve-button.unavailable.reservable, .ding-periodical-issues .reserve-button.unavailable.reservable, .pane-ting-collection .form-submit, .pane-ting-object .form-submit, .pane-ting-collection .ding-entity-button, .pane-ting-object .ding-entity-button {
  background-color: #303030;
  border: 0;
  color: $white;
  display: inline-block;
  font-size: 90% !important;
  font-weight: bold;
  line-height: 100%;
  padding: 21px 54px;
  border-radius: 0;
  box-shadow: none;
}

.material-item .action-button.reserve-button.reservable, .field-name-ding-entity-buttons .reserve-button.reservable, .ding-periodical-issues .reserve-button.reservable {
  position: relative;
  top: -1px;
  margin-left: 30px;
}

.material-item .action-button.reserve-button.available:link, .ding-periodical-issues .reserve-button.available:link, .field-name-ding-entity-buttons .reserve-button:link, .button-see-online:link, .ticket-available:link, .pane-reservations .renew-loan-button .renewable:link, .pane-loans .renew-loan-button .renewable:link, .pane-debts .renew-loan-button .renewable:link, .pane-bookmarks .renew-loan-button .renewable:link, .pane-reservations .reserve-button:link, .pane-loans .reserve-button:link, .pane-debts .reserve-button:link, .pane-bookmarks .reserve-button:link, .pane-reservations .update-reservations .form-submit:link, .pane-reservations .renew-loan-button .form-submit:link, .pane-loans .update-reservations .form-submit:link, .pane-loans .renew-loan-button .form-submit:link, .pane-debts .update-reservations .form-submit:link, .pane-debts .renew-loan-button .form-submit:link, .pane-bookmarks .update-reservations .form-submit:link, .pane-bookmarks .renew-loan-button .form-submit:link, .pane-debts .pay-button .form-submit:link, .material-item .action-button.reserve-button.available:visited, .ding-periodical-issues .reserve-button.available:visited, .field-name-ding-entity-buttons .reserve-button:visited, .button-see-online:visited, .ticket-available:visited, .pane-reservations .renew-loan-button .renewable:visited, .pane-loans .renew-loan-button .renewable:visited, .pane-debts .renew-loan-button .renewable:visited, .pane-bookmarks .renew-loan-button .renewable:visited, .pane-reservations .reserve-button:visited, .pane-loans .reserve-button:visited, .pane-debts .reserve-button:visited, .pane-bookmarks .reserve-button:visited, .pane-reservations .update-reservations .form-submit:visited, .pane-reservations .renew-loan-button .form-submit:visited, .pane-loans .update-reservations .form-submit:visited, .pane-loans .renew-loan-button .form-submit:visited, .pane-debts .update-reservations .form-submit:visited, .pane-debts .renew-loan-button .form-submit:visited, .pane-bookmarks .update-reservations .form-submit:visited, .pane-bookmarks .renew-loan-button .form-submit:visited, .pane-debts .pay-button .form-submit:visited, .material-item .action-button.reserve-button.available:focus, .ding-periodical-issues .reserve-button.available:focus, .field-name-ding-entity-buttons .reserve-button:focus, .button-see-online:focus, .ticket-available:focus, .pane-reservations .renew-loan-button .renewable:focus, .pane-loans .renew-loan-button .renewable:focus, .pane-debts .renew-loan-button .renewable:focus, .pane-bookmarks .renew-loan-button .renewable:focus, .pane-reservations .reserve-button:focus, .pane-loans .reserve-button:focus, .pane-debts .reserve-button:focus, .pane-bookmarks .reserve-button:focus, .pane-reservations .update-reservations .form-submit:focus, .pane-reservations .renew-loan-button .form-submit:focus, .pane-loans .update-reservations .form-submit:focus, .pane-loans .renew-loan-button .form-submit:focus, .pane-debts .update-reservations .form-submit:focus, .pane-debts .renew-loan-button .form-submit:focus, .pane-bookmarks .update-reservations .form-submit:focus, .pane-bookmarks .renew-loan-button .form-submit:focus, .pane-debts .pay-button .form-submit:focus, .material-item .action-button.reserve-button.available:hover, .ding-periodical-issues .reserve-button.available:hover, .field-name-ding-entity-buttons .reserve-button:hover, .button-see-online:hover, .ticket-available:hover, .pane-reservations .renew-loan-button .renewable:hover, .pane-loans .renew-loan-button .renewable:hover, .pane-debts .renew-loan-button .renewable:hover, .pane-bookmarks .renew-loan-button .renewable:hover, .pane-reservations .reserve-button:hover, .pane-loans .reserve-button:hover, .pane-debts .reserve-button:hover, .pane-bookmarks .reserve-button:hover, .pane-reservations .update-reservations .form-submit:hover, .pane-reservations .renew-loan-button .form-submit:hover, .pane-loans .update-reservations .form-submit:hover, .pane-loans .renew-loan-button .form-submit:hover, .pane-debts .update-reservations .form-submit:hover, .pane-debts .renew-loan-button .form-submit:hover, .pane-bookmarks .update-reservations .form-submit:hover, .pane-bookmarks .renew-loan-button .form-submit:hover, .pane-debts .pay-button .form-submit:hover, .material-item .action-button.reserve-button.available:active, .ding-periodical-issues .reserve-button.available:active, .field-name-ding-entity-buttons .reserve-button:active, .button-see-online:active, .ticket-available:active, .pane-reservations .renew-loan-button .renewable:active, .pane-loans .renew-loan-button .renewable:active, .pane-debts .renew-loan-button .renewable:active, .pane-bookmarks .renew-loan-button .renewable:active, .pane-reservations .reserve-button:active, .pane-loans .reserve-button:active, .pane-debts .reserve-button:active, .pane-bookmarks .reserve-button:active, .pane-reservations .update-reservations .form-submit:active, .pane-reservations .renew-loan-button .form-submit:active, .pane-loans .update-reservations .form-submit:active, .pane-loans .renew-loan-button .form-submit:active, .pane-debts .update-reservations .form-submit:active, .pane-debts .renew-loan-button .form-submit:active, .pane-bookmarks .update-reservations .form-submit:active, .pane-bookmarks .renew-loan-button .form-submit:active, .pane-debts .pay-button .form-submit:active {
  background: #ffd600;
  color: #303030;
}
