/* Custom widgets styles
   ========================================================================== */

.litteratur-front-widget {
  background: $white;
  margin-left: -20px;
  position: relative;
  
  .image-wrapper {
    background: url(../images/f-lit.png) no-repeat 0 0;
    background-size: 100% auto;
    width: 100%;
    height: 340px;
  }
  
  .inner-wrapper {
    background: $white;
    position: absolute;
    left: 0;
    bottom: 0;
    width: calc(100% - 40px);
    height: 130px;
    padding: 20px;
    
    p {
      height: 80px;
      overflow: hidden;
      line-height: 20px;
      margin-right: 75px;
    }
  }
  
  .see-more {
    position: absolute;
    right: 20px;
    top: 230px;
    display: block;
    width: 67px;
    height: 90px;
    line-height: 90px;
    
    &:before {
      content: "\f054";
      display: block;
      font-size: 100px;
      font-weight: normal;
      margin-bottom: 10px;
      font-family: 'FontAwesome';
      text-shadow: none;
      position: absolute;
      left: 0;
      color: #e4013a;
    }
  }
}

.fantasy-front-widget {
  background: $white;
  margin-right: -20px;
  position: relative;
  
  .image-wrapper {
    background: url(../images/f-fantasy.png) no-repeat 0 0;
    background-size: 100% auto;
    width: 100%;
    height: 340px;
  }
  
  .inner-wrapper {
    background: $white;
    position: absolute;
    left: 0;
    bottom: 0;
    width: calc(100% - 40px);
    height: 130px;
    padding: 20px;
    
    p {
      height: 80px;
      overflow: hidden;
      line-height: 20px;
      margin-right: 75px;
    }
  }
  
  .see-more {
    position: absolute;
    right: 20px;
    top: 230px;
    display: block;
    width: 67px;
    height: 90px;
    line-height: 90px;
    
    &:before {
      content: "\f054";
      display: block;
      font-size: 100px;
      font-weight: normal;
      margin-bottom: 10px;
      font-family: 'FontAwesome';
      text-shadow: none;
      position: absolute;
      left: 0;
      color: #4666a0;
    }
  }
}