/* Layout styles
   ========================================================================== */

/* Layouts
   ========================================================================== */
.frontpage-layout {

  .col12 {
    clear: both;
    @include zen-grid-item(12, 1);
  }

  .col12        { padding-left: 0;  padding-right: 0;}
  .col12 .col12 { padding-left: 10px; padding-right: 10px; }

  .col3       { @include zen-grid-item(3, 1); }
  .col3.right { @include zen-grid-item(3, 1, right); }
  .col3.pre3  { @include zen-grid-item(3, 4); }
  .col3.pre6  { @include zen-grid-item(3, 7); }

  .col4       { @include zen-grid-item(4, 1); }
  .col4.right { @include zen-grid-item(4, 1, right); }
  .col4.pre4  { @include zen-grid-item(4, 5); }

  .col6       { @include zen-grid-item(6, 1); }
  .col6.right { @include zen-grid-item(6, 1, right); }
  .col6.pre3  { @include zen-grid-item(6, 4); }

  .col7       { @include zen-grid-item(7, 1); }
  .col7.right { @include zen-grid-item(7, 1, right); }

  .col8       { @include zen-grid-item(8, 1); }
  .col8.right { @include zen-grid-item(8, 1, right); }

  .col9       { @include zen-grid-item(9, 1); }
  .col9.right { @include zen-grid-item(9, 1, right); }

  /* Media queries */
  @include small-medium() {
    .col12,
    .col9,
    .col9.right,
    .col8,
    .col8.right,
    .col6,
    .col6.right,
    .col4,
    .col4.right,
    .col3,
    .col3.right,
    .col3.pre3,
    .col3.pre6,
    .col4.pre4,
    .col6.pre3 {
      @include zen-grid-item(12, 1);
      clear: both;
      
      padding-left: 0;
      padding-right: 0;
    }
  }
}

@include small-medium() {
  .default-layout .primary-content, .default-layout .secondary-content, .default-layout .tertiary-content {
    padding-left: 0;
    padding-right: 0;
  }
}
