/* News styles
   ========================================================================== */

.news-list {
  .news-list-item:nth-child(odd),
  .news-list-item:nth-child(even) {
    background: $white;
  }

  .news-link {
    float: none;
    font-size: 90%;
    font-weight: bold;
    margin-left: 20px;

    a {
      font-weight: bold;
    }
  }

  .news-date,
  .news-author {
    color: $gray-dark;
    font-size: 90%;
    font-weight: bold;

    a {
      font-weight: bold;
    }
  }

  .news-list-content {
    font-size: 110%;
  }

  .news-heading {
    font-size: 180%;
    font-family: $base-font-family;
    font-weight: bold;

    a {
      color: #2f2f2f;
      font-weight: bold;
    }
  }
}

.pane-ding-news-ding-news-list {
  .pane-title {
    border-top: 2px solid #6d85be;
    color: $blue;
    font-family: $base-font-family;
    font-weight: bold;
    font-size: 180%;
    padding-bottom: 13px;
    padding-top: 25px;
  }
}

.news {
  .page-lead {
    font-size: 110%;
    font-family: $base-font-family;
    font-weight: bold;
  }

  .news-content {
    font-size: 110%;
  }

  .news-footer {
    font-size: 90%;
    font-weight: bold;

    a {
      font-weight: bold;
    }
  }

  .super-heading .label {
    font-size: 85%;
  }
}

.field-name-field-ding-news-materials .field-item,
.field-name-field-ding-event-materials .field-item,
.library-list .views-row,
.field-name-field-ding-page-materials .field-item,
.node-type-newsletter .newsletter-materials .field-item,
.news-list .news-list-item,
.groups-list .groups-list-item {
  padding: 0 20px 20px 0;
  
  h2 {
    font-family: $base-font-family;
    font-weight: bold;
    
    a {
      font-weight: bold;
    }
  }
  
  .field-type-ting-abstract {
    margin: 20px 0;
  }
  
  .field-type-ting-author {
    font-size: 90%;
    font-weight: bold;
    
    a {
      font-weight: bold;
    }
  }
  
  .subjects {
    .subject {
      font-size: 85%;
    }
    
    a {
      padding: 2px 4px;
      display: inline;
    }
  }
}

.taxonomy-dropdown,
.pane-library-list {
  padding: 0 0 30px 0;
  
  input[type=submit].button {
    display: none;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 10px;
  }
}

.news-list .news-image-wrapper {
  position: absolute;
  top: 0;
}

.news-list .news-link {
  margin-left: 170px;
  
  @include small-medium() {
    margin-left: 0;
  }
}

@include small-medium() {
  .field-name-field-ding-news-materials .field-item, .field-name-field-ding-event-materials .field-item, .library-list .views-row, .field-name-field-ding-page-materials .field-item, .node-type-newsletter .newsletter-materials .field-item, .news-list .news-list-item, .groups-list .groups-list-item {
    padding: 20px;
  }
}
