/* Taxonomy page styles
   ========================================================================== */

.pane-term-description {
  .pane-title {
    border-bottom: 2px solid #6d85be;
    color: #4565ae;
    font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
    font-size: 200%;
    font-weight: bold;
    padding-bottom: 20px;
  }

  .pane-content {
    height: 520px;
    margin-top: 20px;
    position: relative;

    h3 {
      font-size: 160%;
    }

    p {
      font-size: 160%;
      line-height: 1.2em;
    }
  }
}

.page-taxonomy-term-60 {
  .pane-term-description {
    .pane-content {
      background: url("../images/t-60.jpg") no-repeat 0 0;
      background-size: cover;

      .litteratur-wrapper {
        background: rgba(236, 102, 8, 0.7);
        height: calc(100% - 40px);
        padding: 20px;
        position: absolute;
        right: 0;
        width: 40%;
        
        @include small-medium() {
          width: calc(100% - 40px);
          height: 50%;
          top: inherit;
          bottom: 0;
        }
      }
    }
  }
}

.page-taxonomy-term-66 {
  .pane-term-description {
    .pane-content {
      background: url("../images/t-60.jpg") no-repeat 0 0;
      background-size: cover;
      height: 265px;

      .roskilde-archives-wrapper {
        background: none;
        color: $white;
        height: calc(100% - 40px);
        padding: 20px;
        position: absolute;
        left: 0;
        width: inherit;

        h3 {
          font-size: 180%;
        }
      }
    }
  }
}

.pane-ding-news {
  .pane-title {
    border-top: 2px solid #6d85be;
    color: #4565ae;
    font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
    font-size: 200%;
    font-weight: bold;
    padding-bottom: 15px;
    padding-top: 20px;
  }
}

.page-taxonomy-term {
  .pane-page-title h2 {
    border-bottom: 2px solid #6d85be;
    color: #4565ae;
    font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
    font-size: 200%;
    font-weight: bold;
    padding-bottom: 20px;
  }
}

.pane-og-menu-og-single-menu-block {
  margin-top: 20px;
}

.pane-campaign {
  margin-top: 20px;
}

@include small-medium() {
  .section-widget-wrapper {
    width: calc(100% - 40px);
    overflow: hidden;
  }
}
