div.pane-reservations .ting-cover:before,
div.pane-loans .ting-cover:before,
div.pane-debts .ting-cover:before,
div.pane-bookmarks .ting-cover:before {
  font-size: 50px;
  top: 50%;
}

.page-user {
  input[type='text'],
  input[type='password'],
  input[type='date'],
  input[type='datetime'],
  input[type='email'],
  input[type='number'],
  input[type='search'],
  input[type='tel'],
  input[type='time'],
  input[type='url'],
  textarea {
    border-radius: 0;
  }
}

#ding-reservation-delete-reservations-form {
  padding-bottom: 20px;

  > div > div {
    margin-bottom: 30px;
  }
}

.header-wrapper .header-inner > section.wayf-wrapper {
  margin: 0 auto;
  bottom: -30px;

  @include small-medium() {
    padding: 0;
    height: auto;
    position: static;
    display: table-row;

    & > .panel-pane.pane-block {
      display: table-cell;
      vertical-align: middle;
      min-width: 100px;
      max-width: 50%;

      .pane-content > div {
          margin: 5px;
      }

      &:nth-child(odd) {
        .pane-content > div {
          margin-left: 30px;
        }
      }

      &:nth-child(even) {
        .pane-content > div {
        margin-right: 30px;
        }
      }
    }

    .pane-ding-gatewayf-registration-registration {
      .ding-gatewayf--registration {
        min-width: 100px;
      }
    }
  }

  @include medium() {
    margin: 0;
    float: right;
  }
}

.header-wrapper .header-inner > section.user {
  @include small-medium() {
   padding-bottom: 0px;
  }
}
